<html>
{% extends "layout.html" %}
{% block page_content %}
<div>
    <b> A random movie will be displayed for you with the intent of watching or recommending to a friend. </b>
</div>

<br>    
<a href="{{ url_for('add') }}"><button>Add Movie</button></a>
<a href="{{ url_for('update') }}"><button>Update Movie</button></a>
<a href="{{ url_for('deleteMovie') }}"><button>Delete Movie</button></a>
<a href="{{ url_for('randomMovie') }}"><button>Random Movie</button></a>

<br>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Director</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>

    {% if randommovie %}
    
      <tr>
        <td>{{randommovie.title}}</td>
        <td>{{randommovie.genre}}</td>
        <td>{{randommovie.director}}</td>
        <td>{{randommovie.rating}}</td>
      </tr>
    
    {% endif  %}

    </tbody>
  </table>
</div>

{% endblock page_content %}
 
</html>
